
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kalam:wght@300;400;700&display=swap');

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

body{
  width: 97vw;
  height: 87vh;
  background-color: #460277;
  font-family: "Kalam", cursive;
  margin: 5px;
  padding: 0;

  /* Contenedor */
  padding-top: 0px;
  overflow: scroll;
}
.texto.expandido {
  height: auto !important;
  background-color: rgba(87, 48, 172, 0.71) !important;
  transform: translateY(-150px) !important;
}

.texto.expandido p {
  font-size: 13px !important;
  font-weight: 300 !important;
  overflow: scroll !important;
  text-shadow: 0px 0px 10px #000000 !important;
}
.atras{
  position: fixed;
  width: 11vw;
  display: flex;
  top: 65vw;
  left: -4vw;
  height: 10vw;
  margin: 22px;
}

.adelante{
  position: fixed;
  width: 11vw;
  display: flex;
  top: 65vw;
  left: 82vw;
  height: 10vw;
  margin: 22px;
}
.carrusel{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.imagenes{
  position: fixed;
  top: 5vw;
}

.img{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
  height: 135vw;
  width: 75vw;
  border-radius: 6vw;
  margin: 5px;
  object-fit: scale-down;
  filter: saturate(175%);
}

.texto{
  overflow: hidden;
  position: fixed;
  flex-direction: unset;
  transform: translateY(0px);
  margin-bottom: -106vw;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(63, 106, 138, 0.21);
  display: flex;
  align-items: normal;
  justify-content: center;
  border-radius: 25px;
}


.texto p{
  align-items: center;
  padding: 10px;
  color:white;
  font-size: 10px;
  font-weight: 100;
}

.imagenes .texto{
  width: 77vw;
  height: 100px;
  transition: 1s;
  top: 132vw;
}

.spotify-icon {
  position: relative;
  width: 35px;
  height: 35px;
  top: 15vw;
  left: 5vw;
}

.imagenes:hover .texto{
  transition: height 1s, transform 1s, background-color 1s;
  transform: translateY(-150px);
  height: 50vw;
  background-color: rgba(87, 48, 172, 0.71);
 }
.imagenes:hover .texto p{
  transition: font-size 0s .2s linear;
  font-size: 16px;
  font-weight: 300;
  overflow: scroll;
  text-shadow: 0px 0px 10px #000000;
}

.puntos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.puntos p{
  font-size: 100px;
  font-weight: 500;
  margin-top: -50px;
  color: black;
}

.puntos .bold{
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  color: #5E17EB ;
}


